.touhouvq.sheet.item form {
  display: flex;
  flex-direction: column;
}
.touhouvq.sheet.item .sheet-items {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.touhouvq.sheet.item .sheet-items table tbody {
  text-align: center;
}
.touhouvq.sheet.item .sheet-items table tbody tr td input .damage {
  max-width: 89%;
}
.touhouvq.sheet.item .sheet-items table tbody tr td input .range {
  max-width: 70%;
}
.touhouvq.sheet.item .sheet-items table tbody tr td input .throwingRange {
  max-width: 70%;
}
.touhouvq.sheet.item .sheet-description {
  height: 120px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 16px;
}
.touhouvq.sheet.item .sheet-description .editor {
  height: 120px;
}
.touhouvq.sheet.item .sheet-description .editor .editor-content {
  height: 100%;
  overflow-y: auto;
  word-break: break-word;
  line-height: 11px;
}
