<section>
  
    <div class="tvq-sidebar-2">

        <p class="tvq-p-side">Sauvegarde contre la mort</p>

        <div class="tvq-side-div">
            <input class="tvq-deathsave" type="checkbox" id="deathsave1" name="scales">
            <input class="tvq-deathsave" type="checkbox" id="deathsave2" name="scales">
            <input class="tvq-deathsave" type="checkbox" id="deathsave3" name="scales">
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height">
                <p class="tvq-side-bloc-p">Histoire, Famille & Passé</p>
                <hr class="tvq-custom-hr">
                <textarea id="story" class="tvq-side-bloc-content-p" name="data.charInfo.story" rows="5" cols="33">{{data.data.charInfo.story}}</textarea>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height">
                <p class="tvq-side-bloc-p">Personnalité</p>
                <hr class="tvq-custom-hr">
                <textarea id="personality" class="tvq-side-bloc-content-p" name="data.charInfo.personality" rows="5" cols="33">{{data.data.charInfo.personality}}</textarea>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height-1">
                <p class="tvq-side-bloc-p">Pouvoir</p>
                <hr class="tvq-custom-hr">
                <textarea id="power" class="tvq-side-bloc-content-p" name="data.charInfo.power" rows="5" cols="33">{{data.data.charInfo.power}}</textarea>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height-2">
                <p class="tvq-side-bloc-p">Signe Distinctif</p>
                <hr class="tvq-custom-hr">
                <textarea id="distinctive" class="tvq-side-bloc-content-p" name="data.charInfo.distinctive" rows="5" cols="33">{{data.data.charInfo.distinctive}}</textarea>
            </div>
        </div>

        <button class="tvq-sheet-button" type="button">Passer à la seconde fiche de personnage</button>
    
    </div>
  
</section>
  