<section>

    <div class="flex f-row-center mt-5">
  
      <h3 class="thv-h3">Points de Vie</h3>
  
    </div>
  
    <div class="flex f-row-center mt-2">
  
      <div class="bloc-hp center">
        <p class="tvq-p">Actuels</p>
        <input class="tvq-input" type="number" name="actualhealth" value="0">
      </div>
  
      <div class="bloc-p-hp center">
        <p class="tvq-slash-p">/</p>
      </div>
  
      <div class="bloc-hp center">
        <p class="tvq-p">Maximum</p>
        <input class="tvq-input" type="number" name="maxhealth" value="0">
      </div>
  
    </div>
  
    <hr class="tvq-hr mt-5 mb-2">
  
    <div class="flex f-row-center mt-5">
  
      <div class="bloc-hp center mr-2">
        <p class="tvq-p">Fatigue</p>
        <input class="tvq-input" type="number" name="maxhealth" value="0">
      </div>
  
      <div class="bloc-cw center ml-2">
        <p class="tvq-p">Blessures Crit.</p>
        <input class="tvq-input tvq-cw" type="number" name="critwounds" value="0">
      </div>
  
    </div>
  
    <hr class="tvq-hr mt-5 mb-2">
  
    <div class="flex f-row-center mt-5">
  
      <h3 class="thv-h3">Points de Magie</h3>
  
    </div>
  
    <div class="flex f-row-center mt-2">
  
      <div class="bloc-hp center">
        <p class="tvq-p">Actuels</p>
        <input class="tvq-input" type="number" name="actualmag" value="0">
      </div>
  
      <div class="bloc-p-hp center">
        <p class="tvq-slash-p">/</p>
      </div>
  
      <div class="bloc-hp center">
        <p class="tvq-p">Maximum</p>
        <input class="tvq-input" type="number" name="maxmag" value="0">
      </div>
  
    </div>
  
    <hr class="tvq-hr mt-5 mb-5">
  
    <div class="flex f-row-center mt-5">
  
      <h3 class="thv-h3">Sauv. contre la Mort</h3>
  
    </div>
  
    <div class="flex f-row-center mt-2">
  
      <input class="tvq-deathsave" type="checkbox" id="deathsave1" name="scales">
      <input class="tvq-deathsave" type="checkbox" id="deathsave2" name="scales">
      <input class="tvq-deathsave" type="checkbox" id="deathsave3" name="scales">
  
    </div>
  
    <hr class="tvq-hr mt-5 mb-5">
  
    <div class="flex f-row-center mt-5">
  
      <h3 class="thv-h3">Inventaire</h3>
  
    </div>
  
    <div class="tvq-inventory mt-2 mb">
      
    </div>
  
  
  </section>
  